/* add home page styles here */
.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid red;
}

#show-posts {
    display: flex;
    flex-direction: row ;
    align-items: center;
}

#creation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post-field {
    width: 200px;
    height: 200px;
}