/* add home page styles here */

#new-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-credentials {
    display: flex;
}